NODE_ENV=development
HOST=0.0.0.0
PORT=3001
APP_PREFIX=api
OPEN_API_TITLE=Task Manager Nest API
OPEN_API_VERSION=1.0.0
DB_HOST=localhost
DB_PORT=5433
DB_USER=taskmanager
DB_PASS=taskmanager
DB_NAME=taskmanager_nest
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=7d
PASS_SALT=10
